# Required for all examples
MAGICKMIND_BASE_URL="https://dev-bifrost.magickmind.ai"
MAGICKMIND_EMAIL=""
MAGICKMIND_PASSWORD=""

# Required for corpus ingest & query
MAGICKMIND_API_KEY=""

# Required for realtime/chat examples
MAGICKMIND_WS_ENDPOINT="wss://dev-centrifugo.magickmind.ai/connection/websocket"

# Optional — auto-created by setup_resources.py
USER_ID=""
MINDSPACE_ID=""
PROJECT_ID=""

# Optional — for chat examples
OPENROUTER_API_KEY=""
