**/__pycache__/
.vscode/
*.tar
logs/
.idea/
tmp/

# StarUML temporary files
*.mdj.bak
*.mdj~
semantic_working_dir
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

episodic_memory_test.py
test.py